{% extends 'base.html' %}

{% block title %}
<div class='d-flex align-content-center'>
  <h1 id='pageTitle' {% if hideTitle %}hidden{% endif %}>{{ App.pageTitle }}</h1>
</div>
{% endblock %}

{% block body %}

{% include 'show-view-edit.html' %}
<h2>{{ 'Ciao %s'|trans|format(App.Users.userData.firstname) }}</h2>

<hr>
<div class='row'>
  <div class="d-flex justify-content-between">
    <button class="btn btn-primary" id="btn-pipeline"> run pipeline</button>
    <h4>test button to run a pipeline on jenkins </h4>
  </div>

</div>



{% endblock body %}
